* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url('/images/prep.png'); */
    /* background-image: url('test.jpg')'); */
    display: flex;
    flex-direction: column;
    height: 100%;
    /* justify-content: space-between; */
    /* gap: 100px; */
}

/* .upper-half, .bottom-half {
    flex: 1;
} */

#upper-section {
    /* border: 2px solid pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* top | right | bottom | left */

    margin-top: 40px;
    max-width: 100%;
    height: 200px;
    /* height: 400px;  */
}

#middle-section {
    /* border: 2px solid orange; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: flex-end; */
    /* top | right | bottom | left */

    margin-top: 50px;
    max-width: 100%;
    height: 350px;
    /* height: 400px;  */
}

#bottom-section {
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
    /* border: 2px solid blue; */
    max-width: 100%;
    /* height: 300px; */

    position: fixed;
    bottom: 0;
}

#copyright {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    width: 100%;

    margin-top: 15px;
    /* z-index: 2; */
}

#players {
    /* border: 2px solid greenyellow; */
}
#scores {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* gap: 100px; */
}
#score-L, #score-R {
    /* margin-left: 0px; */
    height: 80px;
    text-align: center;
}

.button-bar {
    /* padding: 0px 100px 0px 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;


    /* border: 2px solid gold; */
    /* margin: 10px 0 10px 0; */
}

button {
    font-size: xx-large;
    width: 180px;
    height: 70px;
}

#result-box {
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;

}

#results {
    /* border: 2px solid pink; */
    /* align-self: flex-end; */
    align-self: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: large;

    z-index: 1;
}

#art {
    max-width: 100%;
    max-height: 100%;
    /* border: 2px solid red; */

    z-index: 0;
    overflow: hidden;
}

#players {
    display:flex;
}
img#wolf, img#red {
    width:50%; /* you can use % */
    height: auto;
}

img#prep {
    object-fit: fill;
    /* visibility: hidden; */
    max-width: 100%;
    max-height: 100%;

    transform: scale(3.1) translateY(8px);
}

/* Really small mobile devices */
@media (max-width: 375px)  {
    button {
        font-size: xx-large;
        width: 180px;
        height: 40px;
    }

    #art {
        z-index: 0;
    }

    #result-box {
        z-index: 1;
        /* justify-self: end; */
        align-items: flex-end;
        margin-bottom: 120px;

    }

    #results {
        background-color: rgb(123, 123, 123);
        color: white;
        height: 22px;
        font-size: medium;
    }
}

/* Desktop devices */
@media (min-width: 1024px) {
    button {
        /* background-color: pink; */
    }

    #upper-section {
        /* height: 100px; */
    }

    #bottom-section {
        max-width: 1000px;
        max-height: 1000px;

        z-index: 0;
    }

    #copyright {
        margin-top: 40px;
    }
    
    #players {
        justify-content: space-around;
        width: 100%;
    }

    img#wolf, img#red {
        width: 220px; /* you can use % */
        height: auto;

        z-index: 1;
    }

    #scores {
        z-index: 3;
    }

    .button-bar {
        z-index: 2;
        position: fixed;
        top: 10%;
        left: 0;
        right: 0;
    }

    #results {
        z-index: 3;
        font-size: xx-large;
        background-color: rgba(123, 123, 123, 0.75);
        color: white;
        /* height: 50px; */
        padding: 10px;

        position: fixed;
        top: 85%;
        /* left: 0; */
        /* right: 0; */
    }

    #art {
        /* max-width: 80%; */
        /* max-height: 80%; */
        /* border: 2px solid red; */
    
        overflow: hidden;
        /* align-self: center; */


        position: fixed;
        /* bottom: 0; */
        /* left: 0; */
        /* right: 0; */
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    #prep {
        /* align-self: center; */
        width: 70%;
        height: auto;
    }

}