* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Grandstander', cursive;
}

#upper-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    margin-top: 40px;
    max-width: 100%;
    height: 200px;
}

#middle-section {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-top: 50px;
    max-width: 100%;
    height: 350px;
}

#bottom-section {
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
    max-width: 100%;

    position: fixed;
    bottom: 0;
}

#copyright {
    display: flex;
    justify-content: center;
    width: 100%;

    margin-top: 15px;
}

#score-animation {
    width: 100%;
    height: 100px;
    background-color: lightcoral;

    opacity: 0.7;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add-comment {
    font-size: 30px;
    background-color: pink;
}

.plus-one-L {
    color: #3f3f3f;
    position: absolute;
    left: 20%;
    animation-name: fade-in-up;
    animation-duration: 0.8s;
    
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }

  .plus-one-R {
    color: #3f3f3f;
    position: absolute;
    right: 20%;
    animation-name: fade-in-up;
    animation-duration: 0.8s;
    
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  
  @keyframes fade-in-up {
    0%,
    10% {
      /* left: 20%; */
      top: 10%;
      opacity: 1;
    }
    100% {
      top: 0;  /* Animate +1 to go up  */
      opacity: 0;
    }
  }

#plus-one-w {
    background-color: rgb(85, 255, 79);
}
#plus-one-r {
    background-color: rgb(70, 169, 255);
}

#scores {
    width: 100%;
    display: flex;
    justify-content: space-around;

    /* If the <div> is purely decorative or doesn't need to be interactive, you can set its pointer-events property to none to make it "transparent" to mouse clicks. */
    pointer-events: none;
}
#score-L, #score-R {
    height: 80px;
    text-align: center;
    font-size: 30px;
}

.button-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

button {
    font-size: xx-large;
    width: 180px;
    height: 70px;
}

button {
    background:transparent;
    padding:0.5rem 0.5rem;
    margin:0 0.5rem;
    font-size:2rem;

    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
}

button:hover{
 cursor: pointer;
}
button.lined.thick{
 border:solid 3px #41403E;
}
#result-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#results {
    align-self: center;
    text-decoration: underline;
    font-weight: 900;
    font-size: large;

    z-index: 1;
}

#art {
    max-width: 100%;
    max-height: 100%;

    z-index: 0;
    overflow: hidden;
}

#players {
    display:flex;
}
img#wolf, img#red {
    width:50%; /* you can use % */
    height: auto;
}

img#prep {
    object-fit: fill;
    max-width: 100%;
    max-height: 100%;

    transform: scale(3.1) translateY(8px);
}

.button-disabled {
    pointer-events: none; /* Disable mouse events */
    opacity: 0.5;
}

.rematch-button {
    border: dotted;
    border-color: black;
    width: 50px;
    height: auto;
    padding: 0;
    cursor: pointer;
}

.rematch-button:hover {
    background: #eee;
}

p, label, img, div {
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* Really small mobile devices */
@media (max-width: 375px)  {
    button {
        font-size: xx-large;
        width: 180px;
        height: 43px;
    }

    button-bar {
        z-index: 3;
    }

    #score-L, #score-R {
        font-size: 20px;
    }

    #art {
        z-index: 0;
    }

    #result-box {
        z-index: 1;
        align-items: flex-end;
        margin-bottom: 120px;

    }

    #results {
        position: absolute; /* Use absolute positioning */
        bottom: 1%; /* Adjust the top position as needed */

        background-color: rgba(123, 123, 123, 0.5);
        color: white;
        /* height: 50px; */
        padding: 10px;
        font-size: medium;
    }
}

/* Desktop devices */
@media (min-width: 1024px) {
    #bottom-section {
        max-width: 1000px;
        max-height: 1000px;

        z-index: 0;
    }

    #copyright {
        margin-top: 40px;
    }
    
    #players {
        justify-content: space-around;
        width: 100%;
    }

    img#wolf, img#red {
        width: 220px; /* you can use % */
        height: auto;

        z-index: 1;
    }

    #scores {
        z-index: 3;
    }

    .button-bar {
        z-index: 2;
        position: fixed;
        top: 10%;
        left: 0;
        right: 0;
    }

    #results {
        z-index: 3;
        font-size: xx-large;
        background-color: rgba(123, 123, 123, 0.75);
        color: white;
        padding: 10px;
        position: fixed;
        top: 85%;
    }

    #art {
        overflow: hidden;

        position: fixed;

        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    #prep {
        width: 70%;
        height: auto;
    }

    .rematch-button {
        border-color: white;
    }
}